<table class="table">
  <thead>
    <tr>
      <th>产品名称</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name.to_s[0, 55], product_path(product), target: "_blank" %></td>
      <td><%= product.created_at %></td>
    </tr>
    <% end %>
  </thead>
</table>
<%= will_paginate @products, :renderer => BootstrapPagination::Rails %>
<% content_for :title do %>sitemap<% end %>