# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure your secret_key_base is kept private
# if you're sharing your code publicly.
Smjjl::Application.config.secret_key_base = 'e811940e3ca6a67630eb11dda91940bf6490893ab62d3629997c723b4643e4cf2eda115cdb8f1b8f421b39945c20fedee765ad33481cb9585d6c7f46d6568538'
