<hr>
<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <p class="pull-right"><a href="#">回顶部</a></p>
    <p>鲁ICP备13020248号-1 © 2013 Smjjl. <%= link_to "sitemap", sitemap_index_path %></p>
  </div>
</footer>