<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="../">什么降价了</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li <% if current_page?(root_path) %>class="active"<% end %> ><%= link_to "首页", root_path %></li>
          <% Category.find_each do |category| %>
          <li <% if current_page?("/bargains_categories/#{category.id}") %>class="active"<% end %> ><%= link_to category.name, "/bargains_categories/#{category.id}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>